* {
    box-sizing: border-box;
}
body
{
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}
header
{
    background-color: #131950;
    position: fixed;
}
section
{
    margin-top: 115px;
}
a
{
    text-decoration: none;
    color: rgb(93 93 194);
}
h2 a
{
    color: #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
h2 a:hover
{
    color: rgb(93 93 194);
}
h1
{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}
h1 span
{
    font-size: 30px;
}
h2
{
    font-size: 40px;
    font-weight: 700;
}
h3
{
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
}
button,
a.btn
{
    font-size: 15px;
    padding: 13px 55px;
    border-radius: 10px;
    border: 5px solid rgb(15, 37, 160);
    background-color: rgb(15, 37, 160);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}
button:hover,
a.btn:hover
{
    color: #000;
    background-color: transparent;
}
button:focus
{
    outline: none;
}

body::-webkit-scrollbar {
    width: 3px;
    background-color: #464646
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(22, 22, 22);
    outline: 0;
  }
.sect-width
{
    width: 100%;
}
.container
{
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

/* Header section */
#nav > ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#nav > ul > li
{
    margin-left: 40px;
}
#nav > ul > li > a
{
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}
#nav > ul > li > a:hover
{
    font-size: 17px;
    color: rgb(211, 255, 255);
}
#nav > ul > li > a.active
{
    font-size: 17px;
    color: rgb(211, 255, 255);
}
.header-container
{
    max-width: 3000px;
    padding: 0 20px;
    margin: 0 auto;
}
header
{
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.header-scrolled
{
    
    background-color: transparent;
}
.header-inner
{
    position: relative;
    padding-top: 33px;
    padding-bottom: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo-text
{
    position: relative;
    font-family: Tahoma, Verdana, "Segoe", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-left: 65px;
}
.logo-text:before
{
    content: '';
    position: absolute;
    background-image: url(../images/icon-title.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 34.765px;
    height: 34.765px;
    left: -44px;
    top: -1px;
}

/* Title page */
.start-page
{
    width: 100%;
    height: 100vh;
}
.title-page
{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.common-page
{
    padding-top: 130px;
    padding-bottom: 60px;
}
.title-page__inner
{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.section-inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.about-me__block
{
    max-width: 550px;
}
.text-block
{
    margin-top: 50px;
    line-height: 33px;
}
.avatar-lg
{
    width: 330px;
    height: 330px;
}
.avatar
{
    border-radius: 100%;
    border: 5px solid #26319d;
    padding: 5px;
}
.avatar-text__mobile
{
    display: none;
}
.avatar img
{
    border-radius: 100%;
}

/* NEWS */
article .news-text__block
{
    text-align: center;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
article .text-block
{
    margin-top: 10px;
}
.news-text__block
{
    text-align: right;
}
.main-articles-news
{
    position: relative;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.main-articles-news article
{
    margin-top: 35px;
    position: relative;
    background-color: #f8f8f8;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    min-height: 200px;
}
.main-article-img
{
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: block;
    position: relative;
    width: 289px;
}
.main-article-img img
{
    display: block;
    width: 289px;
    height: 100%;
}
.main-articles-news a
{
    color: #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.main-articles-news a:hover
{
    -webkit-transform:translate(-20px, -20px);
            transform:translate(-20px, -20px);
}
.main-articles-news article
{
    box-shadow: 13.106px 9.177px 4px 0px rgb(197, 197, 197);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.main-articles-news article:hover
{
    box-shadow: 13.106px 9.177px 4px 0px rgb(36, 16, 92);
}
.contact-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    max-height: 180px;
    margin-left: 30PX;
    margin-top: 20px;
    padding-bottom: 30px;
}
.contact-list .item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    padding-bottom: 20px;
    color: #3f3f3f;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.contact-list .item:hover
{
    color: rgb(93 93 194);
}
.contact-list .item img
{
    width: 32px;
    margin-right: 10px;
}
.footer
{
    background-color: #1d2636;
    text-align: center;
    color: #fff;
    font-size: 19px;
    font-weight: 700;

    padding-top: 59px;
    padding-bottom: 75px;
}
footer
{
    margin-top: 150px;
    box-shadow: 0px 17px 24px 20px rgb(197 197 197);
    padding-top: 50px;
}
#go-top
{
    position: fixed;
    right: 40px;
    bottom: 0px;
    z-index: 25;
    width: 60px;
    height: 40px;
    display: none;
    text-align: center;
    background-color: #131950;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#go-top img
{
    width: 30px;
}
.header__burger
{
    display: none;
}

/* БЛОГ */
#primary
{
    max-width: 710px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.news-inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.post
{
    padding: 35px 40px 45px 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 70px;
}
.entry-header h2
{
    text-transform: uppercase;
}
.post-meta
{
    margin: 28px 0;
    font-size: 15px;
    text-transform: uppercase;
}
.time
{
    font-weight: 700;
}
.categories
{
    color: #808080;
    font-weight: 700;
}
.categories a
{
    color: #808080;
}
.categories a:hover
{
    color: rgb(93 93 194);
}
.post-thumb
{
    width: 100%;
}
.post-thumb img
{
    border-radius: 3px;
}
.post-content
{
    margin-top: 50px;
    line-height: 35px;
    font-family: Tahoma, Verdana, "Segoe", sans-serif;
}


#secondary
{
    padding: 40px;
    max-width: 390px;
    display: block;
}
.widget
{
    margin-bottom: 55px;
    color: #646464;
    line-height: 30px;
    font-size: 16px;
}
.widget a
{
    color: #646464;
}
.widget a:hover
{
    color: rgb(93 93 194);
}
.widget h5
{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #000;
}
.widget form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
input[type=text]
{
    border: 0;
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 10px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
input[type=text]
{
    outline: none;
}
.submit-search
{
    background-color: #2a3b5b;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0;
    width: 57px;
}
.submit-search:hover
{
    background-color: #3f557c;
}
.tagcloud a
{
    background-color: #ebebeb;
    color: #646464;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 13px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.tagcloud a:hover
{
    background-color: rgb(93 93 194);;
    color: #fff;
}
.pagination ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.pagination a
{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;

    border-radius: 5px;
    border: 5px solid #2a3b5b;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.pagination a:hover
{
    background-color: #2a3b5b;
    color: #fff;
    border: 5px solid #2a3b5b;
}
.inactive
{
    color: #808080 !important;
    border: 5px solid #5c5c5c !important;
}
.inactive
{
    background-color: transparent !important;
    color: #808080 !important;
}
.pagination a.current
{
    background-color: #2a3b5b;
    color: #fff;
    border: 5px solid #2a3b5b;
}
.portfolio-articles
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
.work
{
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
                -ms-grid-row-align: center !important;
            align-items: center !important;
    max-width: 378px;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto !important;
    padding: 42px 32px 60px 32px;
    margin-bottom: 60px;
}
.work p
{
    margin-top: 20px;
    font-size: 18px;
    color: #6b6b6b;
}
.post-content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.portfolio-articles img
{
    max-width: 328px;
}
.port-block
{
    max-width: 350px;
    margin-bottom: 70px;
}
.port-block h3
{ margin-left: 0 !important; 
    text-transform: uppercase;
}
.port-block p
{ 
    margin-left: 20px !important;
    line-height: 30px; 
}
#left-portfolio
{
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
#right-portfolio
{
    max-width: 640px;
}
